<div class="slider-container">
    <div class="slider">
        {%
            include /slide.html
            background_image = "/assets/images/ubhaya_padangusthasana.jpg"
            link = "/en/classes/online.html"

            text_title = "Online classes"
            text_subtitle = "Develop flexibility, strength and balance from the comfort of your home."
            text_button = "More info"
        %}
        {%
            include /slide.html
            background_image = "/assets/images/lotus_flower.jpg"
            link = "/en/classes/in_person.html"

            text_title = "In-person classes"
            text_subtitle = "Enjoy practicing among the community. All Saturdays in Binissalem, Mallorca."
            text_button = "More info"
        %}
        {%
            include /slide.html
            background_image = "/assets/images/all_starts_here.jpg"
            link = "/en/contact.html"

            text_title = "Free trial class"
            text_subtitle = "Get to know us and experience the yoga practice in a free online private class."
            text_button = "Contact us"
        %}
    </div>
</div>
