<div class="slider-container">
    <div class="slider">
        <!-- {%
            include /slide.html
            background_image = "/assets/images/lu2020.jpg"
            link = "/en/events/lu2020.html"

            text_title = "Online workshop<br/>with Lucia Andrade"
            text_subtitle = "KPJAYI certified instructor. Don't miss it!"
            text_button = "More information"
        %} -->
        {%
            include /slide.html
            background_image = "/assets/images/lotus_flower.jpg"
            link = "/en/ashtanga/timetable.html"

            text_title = "Free online self-practice"
            text_subtitle = "Practice with us for free, monday to friday from 7am to 8.30am through videoconference."
            text_button = "Check out our schedule"
        %}
        {%
            include /slide.html
            background_image = "/assets/images/upavistha_konasana.jpg"
            link = "/en/ashtanga/prices.html"

            text_title = "Private ashtanga classes"
            text_subtitle = "Discover or improve your ashtanga yoga practice with personalized guidance."
            text_button = "Check out the prices"
        %}
        {%
            include /slide.html
            background_image = "/assets/images/all_starts_here.jpg"
            link = "/en/contact.html"

            text_title = "Weekly in-person Mysore class"
            text_subtitle = "Enjoy practicing in community every Saturday morning in Binissalem, Mallorca."
            text_button = "More info"
        %}
    </div>
</div>
