{%
    include /menu.html
    this_page = page.this_page
    language = "en"

    text_classes = "Classes"
    text_online_classes = "Online classes"
    text_in_person_classes = "In-person classes"
    text_video_classes = "Videoclases"
    text_eventual_classes = "Events"
    text_info = "Information"
    text_about_yoga = "About yoga"
    text_about_paloma = "About Paloma"
    text_timetable = "Timetable"
    text_prices = "Prices"
    text_contact = "Contact"
    text_language = "Language"
    text_coming_soon = "Coming soon!"
%}
