<div class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
        <li class="pure-menu-item{% if page.this_page == 'index.html' %} pure-menu-selected{% endif %}"><a class="pure-menu-link" href="/en/index.html">Home</a></li>
        <li class="pure-menu-item{% if page.this_page == 'ashtanga.html' %} pure-menu-selected{% endif %}"><a class="pure-menu-link" href="/en/ashtanga.html">About ashtanga</a></li>
        <li class="pure-menu-item{% if page.this_page == 'team.html' %} pure-menu-selected{% endif %}"><a class="pure-menu-link" href="/en/team.html">Who we are</a></li>
        <li class="pure-menu-item{% if page.this_page == 'timetable.html' %} pure-menu-selected{% endif %}"><a class="pure-menu-link" href="/en/timetable.html">Timetable</a></li>
        <li class="pure-menu-item{% if page.this_page == 'events.html' %} pure-menu-selected{% endif %}"><a class="pure-menu-link" href="/en/events.html">Events</a></li>
        <li class="pure-menu-item{% if page.this_page == 'location.html' %} pure-menu-selected{% endif %}"><a class="pure-menu-link" href="/en/location.html">Location</a></li>
        <li class="pure-menu-item{% if page.this_page == 'prices.html' %} pure-menu-selected{% endif %}"><a class="pure-menu-link" href="/en/prices.html">Prices</a></li>
        <li class="pure-menu-item{% if page.this_page == 'etiquette.html' %} pure-menu-selected{% endif %}"><a class="pure-menu-link" href="/en/etiquette.html">House rules</a></li>
        <li class="pure-menu-item{% if page.this_page == 'contact.html' %} pure-menu-selected{% endif %}"><a class="pure-menu-link" href="/en/contact.html">Contact</a></li>
    </ul>
</div>
