/*** Style for desktop ********************************************************/

.ashtanga-prices.centered-container {
    width: 1040px;
}

.ashtanga-prices table {
    margin: 72px 0 48px 0;
    width: 100%;
    line-height: 46px;
}

.ashtanga-prices.centered-container.buttons {
    width: 420px !important;
    margin-bottom: 64px;
}

.ashtanga-prices.note {
    text-align: center;
    margin-bottom: 48px;
}

#welcome-block.ashtanga-prices {
    padding: 90px 0 100px 0;
}


/*** When welcome block changes spacing ***************************************/

@media screen and (max-width: 1151.9px) {

    #welcome-block.ashtanga-prices {
        padding: 70px 0 70px 0;
    }

}


/*** Style for tablet *********************************************************/

@media screen and (max-width: 1140px) and (min-width: 720px) {

    .ashtanga-prices.centered-container {
        width: 90% !important;
    }

    .ashtanga-prices table {
        margin: 68px 0 40px 0;
    }

    #welcome-block.ashtanga-prices {
        padding: 64px 0 64px 0;
    }

    .ashtanga-prices.centered-container.buttons {
        width: 390px !important;
        margin-bottom: 58px;
    }

}


/*** Style for mobile *********************************************************/

@media screen and (max-width: 719px) {

    .ashtanga-prices.centered-container {
        width: 90% !important;
    }

    .ashtanga-prices table {
        margin: 62px 0 32px 0;
    }

    #welcome-block.ashtanga-prices {
        padding: 60px 0 60px 0;
    }

    .ashtanga-prices.centered-container.buttons {
        width: 285px !important;
        margin-bottom: 48px;
    }

}
