
/*** Style for desktop ********************************************************/

.caption {
    height: 280px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.caption-text {
    color: #fff;
    width: 600px;
    text-align: center;
    padding-top: 100px;
}


/*** Style for tablet *********************************************************/

@media screen and (max-width: 1040px) and (min-width: 720px) {

    .caption {
        height: 240px;
    }

    .caption-text {
        width: 450px;
        padding-top: 80px;
    }

}


/*** Style for mobile *********************************************************/

@media screen and (max-width: 719px) {

    .caption {
        height: 200px;
    }

    .caption-text {
        width: 300px;
        padding-top: 60px;
    }

}
