
/*** Style for desktop ********************************************************/

.slide {
    background-position: center;
    background-size: auto 100%;
    height:720px;
}

.slick-dots {
    box-shadow: inset 1px 8px 16px -8px rgb(0, 0, 0, 0.3);
}

.slider-container {
    background-image: linear-gradient(to right, #222, #444);
    padding-bottom: 1px;
}

.slide-text {
    padding-top: 250px;
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #fff;
}

.slide-text h1 {
    font-size: 48px;
    margin-bottom: 3px;
}

.slide-text h2 {
    text-transform: uppercase;
    margin-top: 3px;
    margin-bottom: 16px;
    font-size: 24px;
}

.slide-text .pure-button {
    color: #555;
    font-weight: bold;
    background: rgb(255, 255, 255, 0.75);
    font-size: 20px;
}

.slide-text .pure-button:hover {
    background: #fff;
}

.slick-dots li button:before
{
    color: #fff !important;
}

.slick-dots li.slick-active button:before
{
    color: #fff !important;
}


/*** Style for tablet *********************************************************/

@media screen and (max-width: 1040px) and (min-width: 720px) {

    .slide {
        height: 512px;
    }

    .slide-text {
        padding-top: 150px;
        width: 512px;
    }

    .slide-text h1 {
        font-size: 40px;
    }

    .slide-text h2 {
        font-size: 22px;
    }

    .slide-text .pure-button {
        font-size: 18px;
        background: #fff;
    }

}


/*** Style for mobile *********************************************************/

@media screen and (max-width: 719px) {

    .slide {
        height: 360px;
    }

    .slide-text {
        padding-top: 70px;
        width: 90%;
    }

    .slide-text h1 {
        font-size: 30px;
    }

    .slide-text h2 {
        font-size: 18px;
    }

    .slide-text .pure-button {
        font-size: 16px;
        background: #fff;
    }

}
