
/*** Style for desktop ********************************************************/

.wide-container {
    width: 100%;
}

.centered-container {
    width: 1040px;
    margin-left: auto;
    margin-right: auto;
}

.text-over-image-block {
    background-position: center left;
    background-size: auto 140%;
    background-repeat: no-repeat;
}

.text-over-image-block.reverse {
    background-position: top right;
    background-size: 50% auto;
}

.text-over-image-block .wide-container {
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.25),
        #fff,
        #fff,
        #fff);
    padding: 68px 0 56px 0;
}

.text-over-image-block.reverse .wide-container {
    background-image: linear-gradient(
        to left,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.25),
        #fff,
        #fff);
}

.text-over-image-block p {
    color: #333;
    padding: 16px;
    font-size: 22px;
    margin: 0;
}

.text-over-image-block .buttons {
    padding-left: 16px;
    margin-bottom: 32px;
}

.clear-block-button {
    background: #777;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    margin: 4px 8px 0 0;
}

.special-button {
    background: #7c8;
}

.clear-block-button:hover {
    background: #999;
}

.two-column-colored-block.wide-container {
    padding: 64px 0 36px 0;
    background-image: linear-gradient(to right, #465, #687);
    box-shadow: inset 1px 8px 16px -8px rgb(0, 0, 0, 0.3);
}

.two-column-colored-block p {
    color: #fff;
    padding: 16px;
    font-size: 22px;
    margin: 0;
}

.two-column-colored-block img {
    height: 42px;
    margin: 0 16px;
}

.colored-block-button {
    background: #fff;
    color: #777;
    font-weight: bold;
    font-size: 18px;
    margin: 4px 0 48px 16px;
}

.colored-block-button:hover {
    background: #ddd;
    color: #666;
}

.links.centered-container.buttons {
    width: 150px !important;
    margin-bottom: 48px;
}

.links.centered-container.pure-g {
    margin-top: 40px;
    margin-bottom: 40px;
}

.links .pure-table {
    width: 100%
}

.links td {
    padding: 16px;
}


/*** When purecss grid blocks change layout at MD *****************************/

@media screen and (max-width: 863.9px) {

    .text-over-image-block {
        background-position: top left;
        background-size: 100% auto;
    }

    .text-over-image-block.reverse {
        background-position: top right;
        background-size: 100% auto;
    }

    .text-over-image-block .wide-container,
    .text-over-image-block.reverse .wide-container {
        background-image: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0.25),
            #fff,
            #fff);
        padding: 0 0 16px 0;
    }

    .text-over-image-block p {
        margin: 400px 0 0 0;
    }

    .text-over-image-block .buttons {
        padding-left: 0;
        width: 350px;
        margin-left: auto;
        margin-right: auto;
    }

    .clear-block-button {
        font-size: 16px;
    }

    .colored-block-button {
        font-size: 16px;
    }

    .links.centered-container.pure-g {
        width: 1040px;
    }

    .links.centered-container.buttons {
        width: 120px !important;
        margin-bottom: 24px;
    }

}


/*** When purecss grid blocks change layout at SM *****************************/

@media screen and (max-width: 639.9px) {

    .text-over-image-block {
        background-position: top left;
        background-size: auto 100%;
    }

    .text-over-image-block.reverse {
        background-position: top right;
        background-size: 100% auto;
    }

    .two-column-colored-block .pure-1 {
        text-align: center;
    }

    .two-column-colored-block .colored-block-button {
        margin: 0 0 48px 0;
    }

    .two-column-colored-block p {
        padding: 4px 16px 16px 16px;
    }

}


/*** Style for COW ************************************************************/

@media screen and (max-width: 1340px) and (min-width: 864px) {

    .text-over-image-block.reverse {
        background-position: top right;
        background-size: auto 100%;
    }

    .text-over-image-block.reverse .wide-container {
        background-image: linear-gradient(
            to left,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0.25),
            #fff,
            #fff,
            #fff);
    }

}


/*** Style for tablet *********************************************************/

@media screen and (max-width: 1040px) and (min-width: 720px) {

    .centered-container {
        width: 100%;
    }

    .text-over-image-block p {
        font-size: 20px;
    }

    .two-column-colored-block p {
        font-size: 20px;
    }

    .two-column-colored-block.wide-container {
        padding: 48px 0 16px 0;
    }

    .links.centered-container.pure-g {
        width: 95%;
    }

}


/*** Style for mobile *********************************************************/

@media screen and (max-width: 719px) {

    .centered-container {
        width: 100%;
    }

    .text-over-image-block p {
        font-size: 18px;
    }

    .two-column-colored-block p {
        font-size: 18px;
    }

    .text-over-image-block .buttons {
        padding-left: 16px;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .clear-block-button {
        font-size: 13px;
    }

    .colored-block-button {
        font-size: 13px;
    }

    .two-column-colored-block.wide-container {
        padding: 48px 0 8px 0;
    }

    .text-over-image-block.reverse {
        background-position: top right;
        background-size: auto 65%;
    }

    .links.centered-container.pure-g {
        width: 95%;
    }

}
