
/*** Style for desktop ********************************************************/

.wide-container {
    width: 100%;
}

.centered-container {
    width: 1040px;
    margin-left: auto;
    margin-right: auto;
}

.text-over-image-block {
    background-position: top left;
    background-size: auto 140%;
    background-repeat: no-repeat;
}

.text-over-image-block.reverse {
    background-position: top right;
}

.text-over-image-block .wide-container {
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.4),
        #fff,
        #fff);
    padding: 48px 0;
}

.text-over-image-block.reverse .wide-container {
    background-image: linear-gradient(
        to left,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.4),
        #fff,
        #fff);
}

.text-over-image-block p {
    color: #333;
    padding: 16px;
    font-size: 20px;
}

.text-over-image-block .buttons {
    padding-left: 16px;
    margin-bottom: 32px;
}

.clear-block-button {
    background: #777;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    margin: 0 8px 0 0;
}

.clear-block-button:hover {
    background: #999;
}

.two-column-colored-block.wide-container {
    padding: 48px 0 16px 0;
    background-image: linear-gradient(to right, #687, #8a9);
}

.two-column-colored-block p {
    color: #fff;
    padding: 16px;
    font-size: 20px;
    margin: 0;
}

.two-column-colored-block img {
    height: 42px;
    margin: 0 16px;
}

.colored-block-button {
    background: #fff;
    color: #777;
    font-weight: bold;
    font-size: 16px;
    margin: 4px 0 48px 16px;
}

.colored-block-button:hover {
    background: #fff;
    color: #aaa;
}


/*** When purecss grid blocks change layout at MD *****************************/

@media screen and (max-width: 767.9px) {

    .text-over-image-block  {
        background-size: 120% auto;
    }

    .text-over-image-block .wide-container,
    .text-over-image-block.reverse .wide-container {
        background-image: linear-gradient(
            rgba(255, 255, 255, 0.3),
            rgba(255, 255, 255, 0.8),
            #fff,
            #fff);
    }

    .text-over-image-block p {
        margin-top: 80px;
    }

    .text-over-image-block .buttons {
        padding-left: 0;
        width: 308px;
        margin-left: auto;
        margin-right: auto;
    }

    .clear-block-button {
        font-size: 14px;
        margin: 0 4px;
    }

    .colored-block-button {
        font-size: 14px;
    }

}


/*** When purecss grid blocks change layout at SM *****************************/

@media screen and (max-width: 567.9px) {

    .text-over-image-block .wide-container,
    .text-over-image-block.reverse .wide-container {
        background-image: linear-gradient(
            rgba(255, 255, 255, 0.3),
            #fff,
            #fff,
            #fff);
    }

}


/*** Style for tablet *********************************************************/

@media screen and (max-width: 1040px) and (min-width: 720px) {

    .centered-container {
        width: 100%;
    }

}


/*** Style for mobile *********************************************************/

@media screen and (max-width: 719px) {

    .centered-container {
        width: 100%;
    }

    .text-over-image-block .wide-container {
        padding: 48px 0 20px 0;
    }

}
