/*** Style for desktop ********************************************************/

#event-list {
    padding-top: 64px;
}

.event {
    display: block;
    width: 95%;
    height: 150px;
    padding-top: 350px;
    background-position: center;
    margin: auto;
    margin-bottom: 64px;
}

a.event {
    text-decoration: none;
}

.event .shadow {
    width: 100%;
    height: 150px;
    background-color: rgb(0, 0, 0, 0.5);
    color: #fff;
}

.event .shadow h2 {
    margin: 0;
    padding: 32px 32px 10px 32px;
    text-align: center;
    font-size: 22px;
}

.event .shadow h3 {
    margin: 0 32px;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: normal;
}

.events-lu2020 .caption {
    height: 720px;
}

.events-lu2020 .caption-text {
    padding-top: 430px;
    width: 600px;
}

.events-lu2020 .caption-text h1 {
    font-size: 44px;
}

#welcome-block {
    text-align: center;
}

.events-lu2020 .program h2,
.events-lu2020 .program .remark,
.events-lu2020 .clear-block-button {
    margin-left: 16px;
}

.events-lu2020 .program table {
    font-size: 22px;
    margin: 0 16px 16px 16px;
    width: 92%;
}

.events-lu2020 .program p {
    padding: 0;
    margin: 24px 16px 0 16px;
}

.events-lu2020 .program p.note {
    font-size: 18px;
    margin-bottom: 24px;
}

.events-lu2020 .clear-block-button {
    margin-bottom: 16px;
}

.events-lu2020 table .time {
    width: 120px;
}

.text-over-image-block.events-lu2020 {
    background-position: center left;
    background-size: 50% auto;
}

.text-over-image-block.reverse.events-lu2020 {
    background-position: top right;
    background-size: 50% auto;
}

.text-over-image-block.reverse.events-lu2020 .wide-container {
    background-image: linear-gradient(
        to left,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.25),
        #fff,
        #fff,
        #fff);
}

.two-column-colored-block.wide-container.events-lu2020 {
    padding: 64px 0 64px 0;
}


/*** When welcome block changes spacing ***************************************/

@media screen and (max-width: 1151.9px) {

    #welcome-block.events, #welcome-block.events-lu2020 {
        padding: 70px 0 70px 0;
    }

    .text-over-image-block.events-lu2020 {
        background-size: auto 120%;
    }

    .text-over-image-block.reverse.events-lu2020 {
        background-size: 52% auto;
    }

    .text-over-image-block.reverse.events-lu2020 .wide-container {
        padding: 48px 0 36px 0;
    }

    .events-lu2020 .program table {
        font-size: 20px;
    }

}


/*** When purecss grid blocks change layout at MD *****************************/

@media screen and (max-width: 863.9px) {

    .text-over-image-block.events-lu2020 {
        background-position: center -330px;
        background-size: auto;
    }

    .text-over-image-block.reverse.events-lu2020 {
        background-position: top right !important;
        background-size: 100% auto !important;
    }

    .text-over-image-block.reverse.events-lu2020 .wide-container {
        background-image: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0.25),
            #fff,
            #fff,
            #fff);
        padding: 0 0 16px 0;
    }

    .text-over-image-block .program {
        margin: 420px 0 0 0;
    }

    .events-lu2020 .clear-block-button {
        margin-bottom: 32px;
    }

}


/*** Style for tablet *********************************************************/

@media screen and (max-width: 960px) and (min-width: 640px) {

    #event-list {
        padding-top: 48px;
    }

    .event {
        height: 150px;
        padding-top: 300px;
        margin-bottom: 48px;
    }

    .event .shadow {
        height: 150px;
    }

    .event .shadow h2 {
        padding: 24px 16px 10px 16px;
        font-size: 20px;
    }

    .event .shadow h3 {
        margin: 0 16px;
        font-size: 14px;
    }

    .events-lu2020 .caption {
        height: 520px;
    }

    .events-lu2020 .caption-text {
        padding-top: 290px;
        width: 480px;
    }

    .events-lu2020 .caption-text h1 {
        font-size: 36px;
    }

    .text-over-image-block.reverse.events-lu2020 {
        background-position: right -80px top 0;
        background-size: 65% auto;
    }

}


/*** Style for mobile *********************************************************/

@media screen and (max-width: 719px) {
    .events-lu2020 .program table {
        font-size: 18px;
    }

    .text-over-image-block .program {
        margin: 380px 0 0 0 !important;
    }
}


/*** When purecss grid blocks change layout at SM *****************************/

@media screen and (max-width: 639.9px) {

    #event-list {
        padding-top: 32px;
    }

    .event {
        width: 90%;
        height: 130px;
        padding-top: 250px;
        margin-bottom: 32px;
    }

    .event .shadow {
        height: 130px;
    }

    .event .shadow h2 {
        padding: 16px 16px 10px 16px;
        font-size: 18px;
    }

    .event .shadow h3 {
        margin: 0 16px;
        font-size: 12px;
    }

    .events-lu2020 .caption {
        height: 380px;
    }

    .events-lu2020 .caption-text {
        padding-top: 210px;
        width: 320px;
    }

    .events-lu2020 .caption-text h1 {
        font-size: 28px;
    }

    .text-over-image-block.reverse.events-lu2020 {
        background-position: top center !important;
        background-size: 120% auto !important;
    }

}
