
/*** Style for desktop ********************************************************/

footer {
    background-image: linear-gradient(to right, #876, #a98);
    box-shadow: inset 1px 8px 16px -8px rgb(0, 0, 0, 0.3);
    width: 100%;
}

footer .centered-container {
    height: 120px;
    padding: 48px 0;
    color: #fff;
}

footer a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

footer a:hover {
    color: #ddd;
}

footer ul {
    padding-left: 16px;
    list-style-type: none;
}

footer li {
    margin: 12px 0;
}

footer .copyright-notice {
    font-size: 13.7px;
    float: right;
    margin-right: 16px;
    color: rgb(255, 255, 255, 0.7);
}

footer .logo-text {
    margin-top: 60px;
    line-height: 16px;
    font-size: 18px;
    float: right;
}

footer .logo-big {
    font-size: 24px;
    font-weight: bold;
}


/*** Style for tablet *********************************************************/

@media screen and (max-width: 1040px) and (min-width: 720px) {

    footer .centered-container {
        width: 100%;
    }

}


/*** Style for mobile *********************************************************/

@media screen and (max-width: 719px) {

    footer .centered-container {
        width: 100%;
    }

    footer a {
        font-size: 16px;
    }

    footer .logo-text {
        margin-top: 54px;
    }

}
