/*** Style for desktop ********************************************************/

.prices.centered-container {
    width: 1040px;
}

.prices table {
    margin: 48px 0 0 0;
    width: 100%;
    /* line-height: 46px; */
}

.prices.centered-container.buttons {
    width: 420px !important;
    margin-bottom: 64px;
}

.prices.note {
    text-align: center;
    margin-bottom: 48px;
    margin-top: 48px;
}

.prices .note-row {
    background-color: #f9f9f9;
    color: #666;
    font-style: italic;
}

#welcome-block.prices {
    padding: 90px 0 100px 0;
}

.prices td {
    padding: 16px;
}

.prices .unavailable {
    color: #888;
}

.prices .numeric {
    text-align: right;
}


/*** When welcome block changes spacing ***************************************/

@media screen and (max-width: 1151.9px) {

    #welcome-block.prices {
        padding: 70px 0 70px 0;
    }

    .prices.note {
        margin-bottom: 40px;
        margin-top: 40px;
    }

}


/*** Style for tablet *********************************************************/

@media screen and (max-width: 1140px) and (min-width: 720px) {

    .prices.centered-container {
        width: 90% !important;
    }

    .prices table {
        margin: 40px 0 0 0;
    }

    #welcome-block.prices {
        padding: 64px 0 64px 0;
    }

    .prices.centered-container.buttons {
        width: 390px !important;
        margin-bottom: 58px;
    }

    .prices.note {
        margin-bottom: 32px;
        margin-top: 32px;
    }

}


/*** Style for mobile *********************************************************/

@media screen and (max-width: 719px) {

    .prices.centered-container {
        width: 90% !important;
    }

    .prices table {
        margin: 32px 0 0 0;
    }

    #welcome-block.prices {
        padding: 60px 0 60px 0;
    }

    .prices.centered-container.buttons {
        width: 285px !important;
        margin-bottom: 48px;
    }

    .prices.note {
        margin-bottom: 24px;
        margin-top: 24px;
    }

}
