
.calendar {
    width: 1040px;
    padding: 64px 0 32px 0;
}

.calendar.mobile {
    display: none;
}

.timetable .centered-container.buttons {
    width: 370px !important;
    margin-bottom: 72px;
}

.timetable.note {
    text-align: center;
    width: 1040px;
    margin: 0 auto;
    margin-bottom: 48px;
}


/*** When welcome block changes spacing ***************************************/

@media screen and (max-width: 1151.9px) {

    #welcome-block.timetable {
        padding: 70px 0 70px 0;
    }

    .timetable.note {
        width: 90%;
        margin-bottom: 40px;
    }

}


/*** Style for tablet *********************************************************/

@media screen and (max-width: 1092px) and (min-width: 720px) {

    .calendar {
        width: 95%;
        padding: 52px 0 28px 0;
    }

    .timetable .centered-container.buttons {
        width: 390px !important;
        margin-bottom: 48px;
    }

    .timetable.note {
        width: 90%;
        margin-bottom: 32px;
    }

}


/*** Style for mobile *********************************************************/

@media screen and (max-width: 719px) {

    .calendar.mobile {
        display: inherit;
        width: 95%;
        padding: 48px 0 26px 0;
    }

    .calendar {
        display: none;
    }

    .timetable .centered-container.buttons {
        width: 285px !important;
        margin-bottom: 36px;
    }

    .timetable.note {
        width: 90%;
        margin-bottom: 24px;
    }

}
