
/*** Style for desktop ********************************************************/

#welcome-block {
    background-image: linear-gradient(to right, #768, #98a);
    padding: 50px 0 70px 0;
}

#welcome-block img {
    width: 65px;
}

#welcome-block .icon {
    width: 65px;
    margin-left: auto;
    margin-right: auto;
}

#welcome-block h2 {
    margin: 0 16px;
    font-size: 24px;
    color: #fff;
    font-weight: normal;
}

/*** When purecss grid blocks change layout at SM *****************************/

@media screen and (max-width: 567.9px) {

    #welcome-block {
        padding: 20px 0 60px 0;
    }

    #welcome-block .icon {
        margin-bottom: 18px;
    }

    #welcome-block h2 {
        text-align: center;
    }

}


/*** Style for tablet *********************************************************/

@media screen and (max-width: 1040px) and (min-width: 720px) {

    #welcome-block h2 {
        font-size: 20px;
    }

    #welcome-block img {
        width: 50px;
    }

    #welcome-block .icon {
        width: 50px;
    }

}


/*** Style for mobile *********************************************************/

@media screen and (max-width: 719px) {

    #welcome-block h2 {
        font-size: 18px;
    }

    #welcome-block img {
        width: 38px;
    }

    #welcome-block .icon {
        width: 38px;
    }

}
