<footer>
    <div class="centered-container pure-g">
        <div class="pure-u-1-2">
            <ul>
                <li><a href="/{{ include.language }}/privacy.html">{{ include.text_privacy_notice }}</a></li>
                <li><a href="/{{ include.language }}/cookies.html">{{ include.text_cookie_policy }}</a></li>
                <li><a href="/{{ include.language }}/terms.html">{{ include.text_terms_of_use }}</a></li>
            </ul>
        </div>
        <div class="pure-u-1-2">
            <span class="copyright-notice">&copy; 2019 Paloma Villela</span>
        </div>
    </div>
</footer>
