{% include /{{ include.language }}/caroussel.html %}
<!-- <div id="intro" class="wide-container">
    <div class="pure-g centered-container">
        <div class="pure-u-1">
            <h2>Bienvenid@ a Ashtanga PadmaWorld! Tu shala de ashtanga yoga en el centro de Mallorca. Ofrecemos clases diarias para alumnos principiantes y para aquellos que ya tienen una práctica establecida. También organizamos talleres y eventos periódicos.</h2>
        </div>
    </div>
</div>
<div class="wide-container clear-block">
    <div class="centered-container full-width">
        <div class="pure-g">
            <div class="pure-u-1-2">
                <img src="/assets/images/style.jpg"/>
            </div>
            <div class="pure-u-1-2">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Duis vehicula posuere dolor non fermentum.
                    Nullam tincidunt ultrices tellus quis volutpat.
                    Etiam ac ipsum ac leo euismod pellentesque non vitae mi.
                </p>
                <a class="pure-button clear-block-button" href="/es/ashtanga/about.html">
                    Lee más sobre el ashtanga yoga
                </a>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Duis vehicula posuere dolor non fermentum.
                    Nullam tincidunt ultrices tellus quis volutpat.
                    Etiam ac ipsum ac leo euismod pellentesque non vitae mi.
                </p>
                <a class="pure-button clear-block-button" href="/es/ashtanga/instructors.html">
                    Conoce nuestras profesoras
                </a>
            </div>
        </div>
    </div>
</div>
<div class="wide-container clear-block colored-block">
    <div class="centered-container full-width">
        <div class="pure-g">
            <div class="pure-u-1-2">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Duis vehicula posuere dolor non fermentum.
                    Nullam tincidunt ultrices tellus quis volutpat.
                    Etiam ac ipsum ac leo euismod pellentesque non vitae mi.
                </p>
                <a class="pure-button colored-block-button" href="/es/ashtanga/timetable.html">
                    Consulta nuestros horarios
                </a>
            </div>
            <div class="pure-u-1-2">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Duis vehicula posuere dolor non fermentum.
                    Nullam tincidunt ultrices tellus quis volutpat.
                    Etiam ac ipsum ac leo euismod pellentesque non vitae mi.
                </p>
                <a class="pure-button colored-block-button" href="/es/ashtanga/location.html">
                    Echa un vistazo a nuestra ubicación
                </a>
            </div>
        </div>
    </div>
</div>
<div class="wide-container clear-block">
    <div class="centered-container full-width">
        <div class="pure-g">
            <div class="pure-u-1-2">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Duis vehicula posuere dolor non fermentum.
                    Nullam tincidunt ultrices tellus quis volutpat.
                    Etiam ac ipsum ac leo euismod pellentesque non vitae mi.
                </p>
                <a class="pure-button clear-block-button" href="/es/events.html">
                    Ve a la lista de eventos
                </a>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Duis vehicula posuere dolor non fermentum.
                    Nullam tincidunt ultrices tellus quis volutpat.
                    Etiam ac ipsum ac leo euismod pellentesque non vitae mi.
                </p>
                <a class="pure-button clear-block-button" href="/es/contact.html">
                    Contacta con nosotros
                </a>
            </div>
            <div class="pure-u-1-2">
                <img src="/assets/images/IMG-20190409-WA0001.jpg"/>
            </div>
        </div>
    </div>
</div> -->
