<div class="events-lu2020">
    {%
        include /caption.html

        caption = include.text_caption
        caption_image = "/assets/images/lu2020_caroussel.jpg"
    %}
</div>
<div id="welcome-block" class="wide-container events-lu2020">
    <div class="centered-container pure-g">
        <div class="pure-u-1">
            <h2>{{ include.text_welcome }}</h2>
        </div>
    </div>
</div>
<div class="text-over-image-block wide-container events-lu2020 no-buttons" style="background-image:url('/assets/images/lu2020_sky.jpg')">
    <div class="wide-container">
        <div class="centered-container pure-g">
            <div class="pure-u-1 pure-u-md-1-2"></div>
            <div class="pure-u-1 pure-u-md-1-2">
                <p>{{ include.text_area_1 }}</p>
                <a class="pure-button clear-block-button" href="/{{ include.language }}/events/lu2020_interview.html">
                    {{ include.text_interview }}
                </a>
            </div>
        </div>
    </div>
</div>
<div class="two-column-colored-block wide-container events-lu2020">
    <div class="centered-container pure-g">
        <div class="pure-1 pure-u-sm-1-2">
            <div class="icon"><img src="/assets/images/icons/calendar.png"/></div>
            <p>
                {{ include.text_area_2 }}
            </p>
        </div>
        <div class="pure-1 pure-u-sm-1-2">
            <div class="icon"><img src="/assets/images/icons/rickshaw_white.png"/></div>
            <p>
                {{ include.text_area_3 }}
            </p>
        </div>
    </div>
</div>
<div class="text-over-image-block reverse wide-container events-lu2020" style="background-image:url('/assets/images/lu2020_grass.jpg')">
    <div class="wide-container">
        <div class="centered-container pure-g">
            <div class="pure-u-1 pure-u-md-1-2">
                <div class="program">
                    <h2>{{ include.text_program }}</h2>
                    <table class="pure-table">
                        <tbody>
                            <tr><td class="time">9-10:30 CET</td><td>{{ include.text_ashtanga_practice }}</td></tr>
                            <tr><td class="time">10:30-11 CET</td><td>{{ include.text_pause }}</td></tr>
                            <tr><td class="time">11-12:15 CET</td><td>{{ include.text_conference }}</td></tr>
                        </tbody>
                    </table>
                    <div class="remark">{{ include.text_note_conference_1 }}</div>
                    <p>{{ include.text_talks }}</p>
                    <ol>
                        <li>{{ include.text_talk_1 }}</li>
                        <li>{{ include.text_talk_2 }}</li>
                        <li>{{ include.text_talk_3 }}</li>
                        <li>{{ include.text_talk_4 }}</li>
                    </ol>
                    <p>{{ include.text_price }}</p>
                    <p class="note">{{ include.text_note_price }}</p>
                    <ul>
                        <li>{{ include.text_price_option_1 }}</li>
                        <li>{{ include.text_price_option_2 }}</li>
                    </ul>
                    <a class="pure-button clear-block-button" href="{{ include.link_register }}" target="_blank">
                        {{ include.text_register }}
                    </a>
                </div>
            </div>
            <div class="pure-u-1 pure-u-md-1-2"></div>
        </div>
    </div>
</div>
