<div class="events-lu2020">
    {%
        include /caption.html

        caption = include.text_caption
        caption_image = "/assets/images/lu2020_caroussel.jpg"
    %}
</div>
<div id="welcome-block" class="wide-container events-lu2020">
    <div class="centered-container pure-g">
        <div class="pure-u-1">
            <h2>{{ include.text_welcome }}</h2>
        </div>
    </div>
</div>
<div class="text-over-image-block wide-container events-lu2020 no-buttons" style="background-image:url('/assets/images/lu2020_sky.jpg')">
    <div class="wide-container">
        <div class="centered-container pure-g">
            <div class="pure-u-1 pure-u-md-1-2"></div>
            <div class="pure-u-1 pure-u-md-1-2">
                <p>{{ include.text_area_1 }}</p>
                <a class="pure-button clear-block-button" href="/{{ include.language }}/events/lu2020_interview.html">
                    {{ include.text_interview }}
                </a>
            </div>
        </div>
    </div>
</div>
<div class="two-column-colored-block wide-container events-lu2020">
    <div class="centered-container pure-g">
        <div class="pure-1 pure-u-sm-1-2">
            <!-- <div class="icon"><img src="/assets/images/icons/calendar.png"/></div> -->
            <p>
                {{ include.text_comment_1 }}
            </p>
            <p>
                {{ include.text_comment_2 }}
            </p>
        </div>
        <div class="pure-1 pure-u-sm-1-2">
            <!-- <div class="icon"><img src="/assets/images/icons/rickshaw_white.png"/></div> -->
            <p>
                {{ include.text_comment_3 }}
            </p>
            <p>
                {{ include.text_comment_4 }}
            </p>
        </div>
    </div>
</div>
<div class="text-over-image-block reverse wide-container events-lu2020" style="/*background-image:url('/assets/images/lu2020_grass.jpg')*/">
    <div class="wide-container">
        <div class="centered-container pure-g">
            <div class="pure-u-1 pure-u-md-1-2">
                <div class="program">
                    <h2>{{ include.text_closure }}</h2>
                    <p>{{ include.text_closure_text }}</p>
                </div>
            </div>
            <div class="pure-u-1 pure-u-md-1-2">
                <div class="program">
                    <ul>
                        <li>{{ include.text_citation_2 }}</li>
                        <li>{{ include.text_citation_3 }}</li>
                        <li>{{ include.text_citation_5 }}</li>
                        <li>{{ include.text_citation_6 }}</li>
                        <li>{{ include.text_citation_9 }}</li>
                        <li>{{ include.text_citation_10 }}</li>
                        <li>{{ include.text_citation_11 }}</li>
                        <li>{{ include.text_citation_12 }}</li>
                        <li>{{ include.text_citation_13 }}</li>
                        <li>{{ include.text_citation_14 }}</li>
                        <li>{{ include.text_citation_15 }}</li>
                        <li>{{ include.text_citation_16 }}</li>
                        <li>{{ include.text_citation_17 }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
