---
---

body {
    font-size: 16px;
    font-family: 'Vollkorn', serif !important;
}
h1, .menu, footer a, .pure-g [class *= "pure-u"] h1 {
    font-family: 'Vollkorn', serif !important;
}
p, .pure-g [class *= "pure-u"] {
    font-family: 'Vollkorn', serif !important;
}

{% include /assets/css/menu.css %}
{% include /assets/css/footer.css %}
{% include /assets/css/caroussel.css %}
{% include /assets/css/welcome.css %}
{% include /assets/css/main.css %}
{% include /assets/css/components.css %}
{% include /assets/css/caption.css %}




#quote {
    background-color: #687;
    padding-top: 2em;
    text-align: center;
}
#quote h2 {
    margin-left: 0.8em;
    font-size: 1.3em;
    color: #eee;
    margin-top: 1em;
    margin-bottom: 2em;
}
#quote .centered-container {
    width: 65em;
}

/* CALENDAR */
.calendar {
    width: 1040px;
}

/* PATCHES */
.pure-g {
    letter-spacing: normal;
}
