---
---

body {
    font-size: 16px;
    font-family: 'Lato', sans-serif !important;
}
h1, .menu, footer a, .pure-g [class *= "pure-u"] h1 {
    font-family: 'Lato', sans-serif !important;
}
p, .pure-g [class *= "pure-u"] {
    font-family: 'Lato', sans-serif !important;
}

{% include /assets/css/menu.css %}
{% include /assets/css/footer.css %}
{% include /assets/css/caroussel.css %}
{% include /assets/css/welcome.css %}
{% include /assets/css/main.css %}
{% include /assets/css/components.css %}
{% include /assets/css/caption.css %}
{% include /assets/css/about_yoga.css %}
{% include /assets/css/about_paloma.css %}
{% include /assets/css/online.css %}
{% include /assets/css/in_person.css %}
{% include /assets/css/timetable.css %}
{% include /assets/css/prices.css %}
{% include /assets/css/contact.css %}
{% include /assets/css/events.css %}
{% include /assets/css/events_lu2020.css %}


/* PATCHES */
.pure-g {
    letter-spacing: normal;
}
