<div class="slider-container">
    <div class="slider">
        {%
            include /slide.html
            background_image = "/assets/images/upavistha_konasana.jpg"
            link = "/es/ashtanga/timetable.html"

            text_title = "Clases de ashtanga"
            text_subtitle = "Cultiva tu práctica de ashtanga yoga de lunes a viernes en Binissalem, Mallorca."
            text_button = "Comprueba los horarios"
        %}
        {%
            include /slide.html
            background_image = "/assets/images/lotus_flower.jpg"
            link = "/es/contact.html"

            text_title = "Día de auto-práctica"
            text_subtitle = "Trae tu rutina de yoga, sea cual sea tu estilo, y practica en grupo de forma gratuita."
            text_button = "Más detalles"
        %}
    </div>
</div>

<!-- {%
    include /slide.html
    background_image = "/assets/images/lu2020.jpg"
    link = "/es/events/lu2020.html"

    text_title = "Workshop con Lucia Andrade"
    text_subtitle = "Profesora certificada por KPJAYI. No te lo pierdas!"
    text_button = "Más información"
    %} -->
