<div class="slider-container">
    <div class="slider">
        <!-- {%
            include /slide.html
            background_image = "/assets/images/lu2020.jpg"
            link = "/es/events/lu2020.html"

            text_title = "Workshop online<br/>con Lucia Andrade"
            text_subtitle = "Profesora certificada por KPJAYI. No te lo pierdas!"
            text_button = "Más información"
        %} -->
        {%
            include /slide.html
            background_image = "/assets/images/lotus_flower.jpg"
            link = "/es/ashtanga/timetable.html"

            text_title = "Auto-práctica online gratuita"
            text_subtitle = "Practica con nosotros de lunes a viernes de 7:00 a 8:30 por videoconferencia."
            text_button = "Comprueba los horarios"
        %}
        {%
            include /slide.html
            background_image = "/assets/images/ubhaya_padangusthasana.jpg"
            link = "/es/contact.html"

            text_title = "Clases privadas de ashtanga"
            text_subtitle = "Descubre y mejora tu práctica de ashtanga yoga con atención personalizada."
            text_button = "Comprueba los precios"
        %}
        {%
            include /slide.html
            background_image = "/assets/images/all_starts_here.jpg"
            link = "/en/contact.html"

            text_title = "Clase Mysore presencial"
            text_subtitle = "Disfruta de una práctica en comunidad, todos los sábados en Binissalem, Mallorca."
            text_button = "Más info"
        %}
    </div>
</div>
