{%
    include /menu.html
    this_page = page.this_page
    language = "es"

    text_about = "Sobre"
    text_about_yoga = "Sobre el yoga"
    text_about_paloma = "Nuestra profesora"
    text_links = "Enlaces de interés"
    text_classes = "Clases"
    text_online_classes = "Clases online"
    text_in_person_classes = "Clases presenciales"
    text_video_classes = "Videoclases"
    text_timetable = "Horarios"
    text_prices = "Precios"
    text_events = "Eventos"
    text_contact = "Contacto"
    text_language = "Idioma"
%}
