<div class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
        <li class="pure-menu-item{% if page.this_page == 'index.html' %} pure-menu-selected{% endif %}"><a class="pure-menu-link" href="/es/index.html">Home</a></li>
        <li class="pure-menu-item{% if page.this_page == 'ashtanga.html' %} pure-menu-selected{% endif %}"><a class="pure-menu-link" href="/es/ashtanga.html">Sobre ashtanga</a></li>
        <li class="pure-menu-item{% if page.this_page == 'team.html' %} pure-menu-selected{% endif %}"><a class="pure-menu-link" href="/es/team.html">Quienes somos</a></li>
        <li class="pure-menu-item{% if page.this_page == 'timetable.html' %} pure-menu-selected{% endif %}"><a class="pure-menu-link" href="/es/timetable.html">Horario</a></li>
        <li class="pure-menu-item{% if page.this_page == 'events.html' %} pure-menu-selected{% endif %}"><a class="pure-menu-link" href="/es/events.html">Eventos</a></li>
        <li class="pure-menu-item{% if page.this_page == 'location.html' %} pure-menu-selected{% endif %}"><a class="pure-menu-link" href="/es/location.html">Localización</a></li>
        <li class="pure-menu-item{% if page.this_page == 'prices.html' %} pure-menu-selected{% endif %}"><a class="pure-menu-link" href="/es/prices.html">Precios</a></li>
        <li class="pure-menu-item{% if page.this_page == 'etiquette.html' %} pure-menu-selected{% endif %}"><a class="pure-menu-link" href="/es/etiquette.html">Etiqueta</a></li>
        <li class="pure-menu-item{% if page.this_page == 'contact.html' %} pure-menu-selected{% endif %}"><a class="pure-menu-link" href="/es/contact.html">Contacto</a></li>
    </ul>
</div>
